<footer>
    <div class="footer">
      <div class="container-footer">
        <div class="important_information">
          <h5>Información importante</h5>
          <ul>
            <li>Cordoba 1256</li>
            <li>Rosario, Santa Fe</li>
            <li>
              <h6>Horario de atención:</h6>
            </li>
            <li>Lunes a Viernes: 9:00 am a 7:00pm</li>
            <li>Sábado: 9:00am - 3:00pm</li>
          </ul>
        </div>
        <div class="we">
          <h5>Nosotros</h5>
          <ul>
            <li><a href="#">Quiénes somos</a></li>
          </ul>
        </div>
        <div class="we">
          <h5>Centro de ayuda</h5>
          <ul
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Politica de privacidad</a></li>
          </ul>
        </div>
      </div>
      <p>Copyright © 2022 - Ateneo Libros | Todos los derechos reservados</p>
    </div>
  </footer>