<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <div class="banners">
      </div>
      <section class="section-news">
        <h2 class="title_one_line">BEST SELLERS</h2>
        <div class="novedades">
          <% for(let i=0; i < 8; i++){%>
            <a href="/">
              <img class="books" src='../../images/el-ateneo-logo.jpg' alt="logo librería"
                title="logo librería">
            </a>
            <%}; %>
        </div>
      </section>
      <section class="section-recommended">
        <h2 class="title_one_line"><span>LOS BOOKSELLERS</span> DEL MES</h2>
        <div class="background_recommended">
          <div class="featured_monthly">
          </div>
          <div class="info_featured">
            <h3>EL PRINCIPITO</h3>
            <div class="content-raiting">
              <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="author">
                <p>ANTOINE DE SAINT-EXUPERY</p>
              </div>
            </div>
            <div>
              <div class="item_featured">
                <h6>Género:</h6>
                <p>Novela corta</p>
              </div>
            <h3>$ 7.000</h3>
            <div class="sinopsis_featured">
              <h5>Sinopsis</h5>
              <p>
                El principito es una narración corta del escritor francés Antoine de Saint-Exupéry, que trata de la historia de un pequeño príncipe que parte de su asteroide a una travesía por el universo, en la cual descubre la extraña forma en que los adultos ven la vida y comprende el valor del amor y la amistad.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-newsletter">
        <h2 class="title_one_line"><span>SUSCRÍBETE A NUESTRO</span>NEWSLETTER</h2>
        <p>Entérate de las últimas novedades</p>
        <div class="content-form-newsletter">
          <form action="/">
            <input type="email" name="email-newsletter" placeholder="Correo electrónico">
            <button type="submit" class="btn-orange">
              Suscribirme
              <i class="far fa-hand-point-up"></i>
            </button>
          </form>
        </div>
      </section>
      <%- include('../partials/footer')%>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src=".././js/functionsCarrusel.js"></script>
  </body>

  </html>