<%- include('../partials/head')%>

  <body class="body-login">
    <div>
      <div class="login-box">
        <div class="image-logo">
          <a href="/">
            <img class="books" src='../../images/el-ateneo-logo.jpg' alt="logo librería"
              title="logo librería">
          </a>
        </div>
        <h1> Login </h1>
        <form action="/users/login" method="POST">
          <div>
            <input type="email" name="email" class="input-login" placeholder="Correo electrónico">
            <% if(locals.errors && errors.email){%>
              <div class="alert-danger">
                <%= errors.email.msg %>
              </div>
              <%} %>
                <input type="password" name="pass" class="input-login" placeholder="Contraseña">
          </div>
          <button class="btn-orange btn-login-in" type="submit">
            <i class="fas fa-sign-in-alt"></i>
            <span>Ingresar</span>
          </button>
          <div class="checkbox-password">
            <label for="remember">
              <input type="checkbox" name="remember">
              Recordar mi usuario
            </label>
          </div>
        </form>
      </div>
      <div class="section-footer-bottom">
      </div>
    </div>
  </body>

  </html>